body
{
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
body > div
{
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.slider_div
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20vw;
}
.content_div
{
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.content_div > div
{
    width: 20vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

p, h2, a 
{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

input[type="number"]
{
    width: 3vw;
    /* width: 80%; */
    /* padding-right: 50%; */
}

h2
{
    font-size: calc(1vh + 0.7vw);
    margin: 0;
    width: 20vw;
    text-align: center;
    font-weight: 400;
}

p
{
    margin: 0;
}

input[type="color"]
{
    width: 20vw;
    height: 40vh;
    border: none;
    outline: none;
}
input[type="color"]:hover
{
    cursor: pointer;
}

input[type = "text"]
{
    width: 80%;
}
input[type = "range"]
{
    width: 18vw;
}

a
{
    text-decoration: none;
    font-size: calc(0.7vh + 0.35vw);
    color: grey;
    margin-top: 3vh;
}

@media (max-width: 1000px)
{
    input[type = "range"]
    {
        width: 78vw;
    }
    input[type="color"]
    {
        width: 80vw;
    }
    h2
    {
        width: 80vw;
    }
    .content_div > div
    {
        width: 80vw;
    }
    #rounding
    {
        width: 10vw;
    }
    .slider_div
    {
        width: 80vw;
    }
}


@media (max-width: 1500px)
{
    input[type = "range"]
    {
        width: 48vw;
    }
    input[type="color"]
    {
        width: 50vw;
    }
    h2
    {
        width: 50vw;
    }
    .content_div > div
    {
        width: 50vw;
    }
    #rounding
    {
        width: 10vw;
    }
    .slider_div
    {
        width: 50vw;
    }
}